<section id="homepage">
  <div class="head">
    <h1>Our story</h1>
    <p>
      We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our
      Facebook fan page. Fans were given situtations where they had to come up
      with wacky and fun execuses. The person with the best excuses won the Best
      Excuse Badge and won Pizzeria's vouchers. Their enthussiastic response
      proved that Pizzeria's Fresh Pan Pizza is the Tastitest Pan Pizza Ever!
    </p>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <img
        src="https://image.shutterstock.com/shutterstock/photos/526830277/display_1500/stock-photo-raw-dough-for-pizza-with-ingredients-and-spices-on-table-526830277.jpg"
        height="400px"
        width=""
        alt="image-here"
      />
    </div>

    <div class="grid-item">
      <span>
        <h2>Ingredients</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et distinctio
        minima illum recusandae hic nam ex nihil saepe debitis? Fugit illum
        dolore beatae nemo possimus! Repudiandae quasi accusamus at voluptate!
      </span>
    </div>

    <div class="grid-item">
      <span>
        <h2>Our Chefs</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et distinctio
        minima illum recusandae hic nam ex nihil saepe debitis? Fugit illum
        dolore beatae nemo possimus! Repudiandae quasi accusamus at voluptate!
      </span>
    </div>

    <div class="grid-item">
      <img
        src="https://thumb1.shutterstock.com/image-photo/stock-photo-happy-chef-450w-437116033.jpg"
        height="400px"
        width=""
        alt="image-here"
      />
    </div>

    <div class="grid-item">
      <img
        src="https://thumb9.shutterstock.com/display_pic_with_logo/175989610/669255388/stock-photo-vintage-analog-kitchen-countdown-timer-with-classical-clock-face-and-red-remaining-time-display-669255388.jpg"
        height="400px"
        width=""
        alt="image-here"
      />
    </div>

    <div class="grid-item">
      <span> 45 min delivery </span>
    </div>
  </div>
</section>

<!-- <app-footer></app-footer> -->
